<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.domain.repository.ArticleTagRepository">

    <!-- 批量插入文章标签关联 -->
    <insert id="batchInsert">
        INSERT INTO tb_article_tag (article_id, tag_id, create_time, deleted)
        VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{articleId}, #{tagId}, NOW(), 0)
        </foreach>
    </insert>

    <!-- 根据文章ID删除所有标签关联 -->
    <delete id="deleteByArticleId">
        DELETE FROM tb_article_tag WHERE article_id = #{articleId}
    </delete>

</mapper>
